main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  /* h1 mais próximo de dentro do main */
  font-weight: 700; /* grossura da fonte */
  font-size: 80px;
  line-height: normal; /* quanto ocupa em altura por linha*/
  color: var(--white);
  text-transform: capitalize; /* todo conteudo será transformado em UPPERCASE */
}

h2 {
  font-weight: 700;
  font-size: 80px;
  text-shadow: /* sombra do texto */ 1px 1px 0 var(--purple-500),
    /* sombra na parte de cima */ -1px -1px 0 var(--purple-500),
    /* sombra na direita */ 1px -1px 0 var(--purple-500),
    /* sombra embaixo */ -1px 1px 0 var(--purple-500); /* sombra na esquerda */
  text-transform: capitalize;
}

.coffe {
  width: 600px;
  height: 510px;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  /* Estilos para telas menores que 768px */

  .linha {
    width: 100%;
    height: 1px;
    background-color: #29292e;
  }

  .mobile {
    display: block;
    color: #fff;
    text-align: center;
    font-family: Manrope;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
    letter-spacing: 0.6px;
    margin-top: 88.5px;
    margin-bottom: 88px;
  }

  .coffe {
    width: 100%; /* Certifique-se de ajustar a largura proporcionalmente */
  }

  h1,
  h1 {
    font-size: 70px;
  }
}

@media (max-width: 605px) {
  h1,
  h2 {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 60px;
  }
}

@media (max-width: 480px) {
  h1,
  h2 {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  h1,
  h2 {
    font-size: 30px;
  }
}
